/*This is a style sheet for the Client Blog Project
the client is Phoenix Unachukwu; the topic is: Emerald Jewelry*/
body {
    background: url("images/backgroundsingle.jpg") no-repeat top right fixed #000000;
    margin: auto;
    max-width: 80%;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14pt;
    color: #b3b3b3;
}
}
.header {
    padding: 15px;
    text-align: center;
}
h1 {
    text-align: center;
    margin: 10px;
    font-family: 'Vollkorn SC', serif;
    font-size: 45pt;
    font-weight: 100;
    color: #44ad44;
    letter-spacing: 0.05em;
    
}
h2 {
    font-family: 'Vollkorn SC', serif;
    font-size: 25pt;
    font-weight: 100;
    color: #44ad44;
}
h3 {
    text-align: center;
    letter-spacing: 0.043em;
}
h4{
    letter-spacing: 0.03em;
}
.body {
    background: #09110a;
    padding: 45px;
    margin: 30px;
    opacity: 0.6;
    -moz-border-radius-topleft: 35px;
    -webkit-border-top-left-radius: 35px;
    border-top-left-radius: 35px;
    -moz-border-radius-topright: 35px;
    -webkit-border-top-right-radius: 35px;
    border-top-right-radius: 35px;
    -moz-border-radius-bottomright: 35px;
    -webkit-border-bottom-right-radius: 35px;
    border-bottom-right-radius: 35px;
    -moz-border-radius-bottomleft: 35px;
    -webkit-border-bottom-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
img {
  float: right; 
  padding: 20px ;
  margin-right: 50px; 
}
footer {
    text-align: center;
}
p {
    margin: 20px 50px;
    text-align: justify;
}
img.ring {
    float:left;
    padding: 20px ;
    margin-left: 50px;
    margin-right: 0;
}
a {
    background: #313135;
    margin: 8px;
    padding: 15px;
    opacity: 0.9;
    border: 3px #313135 solid;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    -moz-border-radius-topleft: 17px;
    -webkit-border-top-left-radius: 17px;
    border-top-left-radius: 17px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-bottom-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
a.next {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    -moz-border-radius-bottomright: 17px;
    -webkit-border-bottom-right-radius: 17px;
    border-bottom-right-radius: 17px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:hover {
    background: #ffffff;
    border: 3px #ffffff solid;
    padding: 15px;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: #000000;
}
